/* .container {
    
    display: flex;
    flex: 1;
    padding-top: 15px;
    justify-content: center;
    align-items: flex-start;
    vertical-align: top;
    flex-direction: row;
} */

.container .content{
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    flex: 1;
    font-family: Trocchi;
}