
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 80px;
    font-family: Trocchi;
    font-size: 36px;
}

.content img{
    padding-right: 15px;
    width: 35px;
    height: 35px;
}